body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%; /*mejora visualizacion para tamaño del formulario*/
    background-color: rgb(243, 239, 235); /*dar un poco de contraste al formulario*/
}

/*Letras pequeñas*/
small{
    font-size: 50%;
    color: rgb(154, 25, 25);
    font-weight: bold;
}

/*Asteríscos*/
span{
    color: rgb(154, 25, 25);
}

/*campo de todo el formulario*/
.contenido-formulario{
    width: 500px;
    border: 1px solid ;
    margin: 40px;
    margin-left: 350px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

/*leyendas de los fieldset*/
legend{
    font-weight: bold;
}

/*tamaño input del correo*/
.correo{
    width: 75%;
}

fieldset{
    border-radius: 5px;
}


input ,select{
    border-radius: 3px;
    border: 1px solid;
    padding: 5px; /* espacio de los inputs y select*/
}

/*botones de validar y cancelar*/
.botones{
    display: flex; /*contenido en una sola línea*/
    justify-content: center; /*botones en el centro*/
    gap: 10px; /*espacio entre botones*/
    margin: 10px;
    
}

/*boton de validar el pago*/
button:first-child{

    background-color: rgba(245, 169, 18, 1); 
    color: rgba(255, 246, 217, 1);
    border: none;
}

/*botones*/
button{
    color: rgba(245, 169, 18, 1);
    background-color: white;
    border-color: rgba(245, 169, 18, 1);
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold; 
    cursor: pointer; /*cambia el cursor a la mano*/
}
button:hover{
    opacity: 0.85; /*se "ilumina" el boton al pasar por encima con el cursor*/
    transform: scale(1.03); /*agranda el boton al pasar por encima con el cursor*/
}


