body{

}
.contenido-formulario{
    width: 700px;
    border: 1px solid ;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
}

fieldset{
    border-radius: 5px;
}

input ,select{
    border-radius: 3px;
    border: 1px solid;
    padding: 5px;
}
