*{
    font-family: sans-serif;
    background-color: rgb(240, 246, 248);
    line-height: 1.5;
    padding: 5px;
    color: #4d4d4d;
    
}

h1{
    color: rgb(40, 56, 100);
    text-shadow: 5px 5px 5px #666;  
    text-align: center;  
}

hr + div{
    text-align: right;
}

div+h2{
    text-align: right;
    color:rgb(50, 99, 159) ;
}
hr{
    padding: 0%;
}
h1 + hr{
    
   width: 80%;
   border-color: rgb(167, 167, 167);
}

hr + h2{
     color:rgb(50, 99, 159) ;
}

p{
    text-align: justify;
}

p::first-letter{
    color: rgb(50, 99, 159);
    font-size: 2em;
    font-weight: bold;
}

p:nth-child(2){
    border-left: solid 5px;
    border-color: rgb(50, 99, 159);
    background-color: rgb(236, 242, 244);
    padding: 20px;
}

p:nth-of-type(1){
    font-style: oblique;
}

p:last-of-type{
    font-weight: bold;
}