body{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-weight: bold;
}
.contenido{
    margin: 4px;
    padding: 50px;
}

.texto-cuadro{
    border: 3px solid;
    padding: 5px;
}

.botones input{
    background-color:aliceblue;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgb(180, 177, 177);
}