* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(164 182 196);;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}



.contenido-formulario {
    width: 380px;
    background-color: white;
    border-radius: 20px;
    padding: 25px; 
    box-shadow: 0 10px 50px rgba(0,0,0,0.15);
    color: #5d5c5c;
    margin: 40px;
}

.header {
    background-color: rgb(32 45 61);
    color: white;
    padding: 15px 25px;
    margin: -25px -25px 35px -25px;
    border-radius: 20px 20px 0 0;
    text-align: center;
}
.header h1 {
    font-size: 20px;
}


.subtitulo h2 {
    font-size: 17px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}


.texto h5 {
    font-size: 12px;
    color: #a3a3a3;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 1;
}



.campo {
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

input, select, textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    font-size: 14px;
}

input:focus, select:focus, textarea:focus{
    outline: none;
    border-color: #2c3a0b;

    background-color: #a8bcea;
}

.buttoms button{
    padding: 10px;
    border-radius: 10px;
    width: 49%;
    font-weight: bold;
    font-size: 70%;
    border: none;
}

.buttoms button:first-child {
    background-color: rgb(0 134 255);
    color: white;

}

.buttoms button:last-child {
    background-color: rgb(148 163 184);
    color: white;
}

.recomendacion {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.opciones {
    display: flex;
    gap: 20px; 
}

.opcion {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email{
    background-color: rgb(32 45 61);
    padding: 15px;
    border-radius: 10px;
    color: white;
}

input[type="email"]:invalid {
border-color: red;
background-color: #ffecec;
}


input[type="email"]:valid {
border-color: green;
background-color: #ecfff0;
}

.buttoms button:hover {
background-color: #963535;
}

